@{
    ViewBag.Title = "Home Page";
}

<div class="row" data-ng-app="RotationMgmtModule" data-ng-controller="RotationMgmtCtrl" data-ng-init="init()">
    <scheduler data-row-headers="rowHeaders"
               data-column-headers="columnHeaders" 
               data-assignments="assignments"></scheduler>   
    
    <div class="clearfix" ></div>
    <div class="col-xs-12 text-center">
        <button class="btn btn-primary" style="margin-top: 20px" data-ng-click="update()">Update</button>
    </div>     
</div>

@section scripts
{    
    <script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/jquery.resize.js"></script>
<script src="~/Scripts/angular-gridster.min.js"></script>
<script src="~/Scripts/apps/rotation-management/rotationMgmtModule.js"></script>
<script src="~/Scripts/apps/rotation-management/controllers/rotationMgmtCtrl.js"></script>
<script src="~/Scripts/apps/rotation-management/services/rotationMgmtDataService.js"></script>
<script src="~/Scripts/apps/rotation-management/directives/scheduler.js"></script>
<script src="~/Scripts/apps/rotation-management/directives/schedulerMain.js"></script>
<script src="~/Scripts/apps/rotation-management/directives/schedulerSide.js"></script>
}

@section styles
{
<link href="~/Content/angular-gridster.min.css" rel="stylesheet" />
<link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
}